<app-nav-bar-wrapper></app-nav-bar-wrapper>
<div style="padding-top: 80px;"></div>
<div class="d-flex justify-content-center gap-3">
    <ng-template [ngIf]="isSignedIn" [ngIfElse]="elseBlock">
        
        <div class="w-100 d-flex p-3 flex-column rounded-3 border" style="background-color: #fff; max-width: 800px;">
            <div class="pb-2">Order created: <span class="text-info">{{order.timestamp | date}} {{order.timestamp | date:'HH:mm:ss'}}</span></div>
            <div class="d-flex justify-content-between">
                <div class="fw-bold text" style="font-size: 1rem;">{{productsInOrder.length}} products in cart</div>
                <div class="fw-bold" style="font-size: 1rem;"><span class="text-secondary">Total: </span><span >{{productsInOrder.length === 0 ? (0 | currency:'USD') : (totalQuantity | currency:'USD')}}</span></div>
            </div>
            <app-cart *ngFor="let product of productItems" [productItem]="product" (selectedQuantityChange)="onCartItemQuantityChange($event)"></app-cart>
        </div>

        <div class="h-100 p-3 border rounded-3" style="background-color: #fff;">
            <h3 class="fw-bold">Your payment information</h3>
            <form #form = "ngForm" class="d-flex flex-column gap-4">
                <div>
                    <label for="full_name" class="form-label text-secondary" style="font-size: 0.8rem;">Full Name*</label>
                    <input type="text" class="form-control" name="full_name" required minlength="4" placeholder="Your Full Name">
                </div>
                <div>
                    <label for="credit_card_number" class="form-label text-secondary" style="font-size: 0.8rem;">Card Number*</label>
                    <input type="text" class="form-control" name="full_name" required minlength="4" placeholder="1234 1234 1234 1234">
                </div>
                <div class="d-flex gap-2">
                    <div>
                        <label for="expiration_date *" class="form-label text-secondary" style="font-size: 0.8rem;">Expiration date*</label>
                        <input type="text" class="form-control" name="expiration_date" required placeholder="MM/YY">
                    </div>
                    <div>
                        <label for="CVV_CVN *" class="form-label text-secondary" style="font-size: 0.8rem;">CVV / CVN*</label>
                        <input type="text" class="form-control" name="CVC" required minlength="3" maxlength="3" placeholder="CVC">
                    </div>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary w-100 py-2" style="font-size: 0.8rem;">Pay now</button>  
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template #elseBlock>
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
            <div class="bg-danger bg-opacity-50 p-2 rounded-2 border border-danger">
                {{message}}
            </div>
        </div>
    </ng-template>

    

</div>