    <div class="d-flex gap-4 fw-bold">
        <a class="text-dark d-flex align-items-center gap-1" routerLink="/">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="ballot" class="text-secondary text-opacity-75 d-flex align-items-center" style="font-size: 1.4rem;"></mat-icon>
            <span class="text-dark" style="font-size: .8rem;">Product</span>
        </a>
        <a class="text-dark d-flex align-items-center gap-1" routerLink="/cart">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart" class="text-secondary text-opacity-75 d-flex align-items-center" style="font-size: 1.4rem;"></mat-icon>
            <span class="text-dark"  style="font-size: .8rem;">Cart</span>
        </a>
    </div>
