    <div class="d-flex gap-4 fw-bold">
        <a class="text-dark d-flex align-items-center" routerLink="/">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="ballot" class="text-opacity-75 d-flex align-items-center" style="font-size: 1.4rem; color: rgb(0, 162, 255)"></mat-icon>
            <span class="" style="font-size: .8rem; color: rgb(62, 62, 62);">Product</span>
        </a>
        <a class="text-dark d-flex align-items-center" routerLink="/cart">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart" class="text-opacity-75 d-flex align-items-center" style="font-size: 1.4rem; color: rgb(0, 162, 255)"></mat-icon>
            <span class=""  style="font-size: .8rem; color: rgb(62, 62, 62);">Cart</span>
        </a>

        <a class="text-dark d-flex align-items-center " routerLink="/orders-history">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="history" class=" text-opacity-75 d-flex align-items-center" style="font-size: 1.4rem; color: rgb(0, 162, 255)"></mat-icon>
            <span class=""  style="font-size: .8rem; color: rgb(62, 62, 62);">Orders history</span>
        </a>
    </div>
