<!-- 
<ng-template  [ngIf]="token" [ngIfElse]="elseBlock">
    <app-nav-bar></app-nav-bar>
</ng-template >

<ng-template  #elseBlock>
    <app-signin-register-navigation></app-signin-register-navigation>
</ng-template > -->

<app-nav-bar-wrapper></app-nav-bar-wrapper>



<div class="products-wrapper p-4 container">
    
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-3 mb-3">
            <div>Filter categories:</div>
            <app-products-filter (getCategoryProp)="getCategory($event)"></app-products-filter>
        </div>
        <div><span class="fw-bold text-success">{{products.length}}</span> products found</div>
    </div>


    <div class="products ">
        <app-product *ngFor="let product of products" [product]="product"></app-product>
    </div>
    <ng-template [ngIf]="hasError">
        <div class="d-flex justify-content-center align-items-center mt-5">
            <p class="server-error bg-danger bg-opacity-50 text-danger p-2 rounded-2 border border-danger w-50">{{errorMessage}}</p>
        </div>
    </ng-template>
</div>
